<section class="log-container">
    <main
      aria-label="Main"
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:py-12 lg:px-16 xl:col-span-6"
    >
        <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
          Welcome to Budget App!
        </h1>

        <p class="mt-4 leading-relaxed text-gray-500">
          Sign up to get started.
        </p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="signup">
          <div class="signupname">
            <%= f.label :name, class: "signupname" %> 
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "signupname" %>
          </div>
          <div class="signupemail">
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %> <%=
            f.email_field :email, autofocus: true, autocomplete: "email", class: "semail" %>
          </div>
          <div class="signuppass">
            <%= f.label :password, class: "signup", autocomplete:
            "new-password" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "signuppass" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <div class="signupcomf">
            <%= f.label :password_confirmation, class: "signupcomf" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "signupcomf" %>
          </div>
          <div class="signup-btn">
            <%= f.submit "Sign up", class: "signupsubmit" %><%= render "devise/shared/links" %>
          </div>
        </div>
        <%end %>
      </div>
    </main>
  </div>
</section>